
body {
    font-family: Arial, Helvetica, sans-serif;
   background-image:url("http://ak8.picdn.net/shutterstock/videos/8028178/thumb/1.jpg?i10c=img.resize(height:160)");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	}
h1 {
	color: white;
	margin-bottom: .25em;
}
label {
	color:white;
	float: left;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom:.5em;
	margin-right: .5em;
    width: 11em;
}
span {
	color:white;

body {
    font-family: Arial, Helvetica, sans-serif;
   
	width:450;
	margin: 0 auto;
	padding: 0 2em 1em;
    border: 3px dotted black;
	background:linear-gradient(#e66465, #9198e5);
	background-repeat:no-repeat;
	background-size:cover;	
}
h1 {
	color: black;
	margin-bottom: .25em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom:.5em;
	margin-right: .5em;
    width: 11em;
}
span {
	color:black;

}